<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- typeAlias 정의 -->
		<typeAlias type="global.sesoc.memo.vo.MemberVO" alias ="Member"/>
		<typeAlias type="global.sesoc.memo.vo.MemoVO" alias ="Memo"/>
		<typeAlias type="global.sesoc.memo.vo.ReservationVO" alias ="Reservation"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/mapper.xml" />
		<mapper resource="mapper/resermapper.xml" />
	</mappers>
</configuration>
